<section class="extras-section">
  <app-extra class="extra" [title]="'Mejora tu estancia'">
    <app-upgrade class="upgrade" [imageClass]="'upgrade__image--yoga'" [title]="'Olvídese de la rutina'" [description]="'Cras vehicula vestibulum dapibus. Pellentesque auctor dolor et purus facilisis maximus. Mauris eget urna luctus, imperdiet neque nec, aliquet lorem.'">
      <div class="upgrade__offset-1"></div>
      <span class="upgrade__includes">Incluye</span>
      <div class="upgrade__offset-1"></div>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, mi eget efficitur tempor, mi ex tristique libero, ac
          dictum sem turpis in neque.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Pellentesque nibh magna, mattis ultrices nulla at, blandit porttitor magna.
        </li>
        <li class="upgrade__feature-item">
          Mattis ultrices nulla at, blandit porttitor magna, pellentesque nibh magna.
        </li>
        <li class="upgrade__feature-item">
          Blandit porttitor magna, pellentesque nibh magna, mattis ultrices nulla at.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="upgrade__feature-item">
          Ut egestas, mi eget efficitur tempor.
        </li>
      </ul>
      <div class="upgrade__offset-2"></div>
      <div class="upgrade__offset-1"></div>
      <small class="upgrade__note">Valores no acumulables a otras promociones similares</small>
    </app-upgrade>
    <app-upgrade class="upgrade" [imageClass]="'upgrade__image--spa'" [title]="'Experiencias y programas SPA con agua'" [description]="'Las experiencias spa de agua tienen una presencia muy especial en SPA Sensations. No es extraño si consideramos que la mayor parte del planeta, así como del propio cuerpo humano, están compuestos de agua.<br/>El arte de recrear experiencias de agua en variaciones ilimitadas es la base de la propuesta de SPA Sensations a sus clientes, aportando el refinamiento al baño y a la hidratación en todas sus formas. Un mundo mágico de posibilidades, más allá de la terapia y del que ahora usted, también podrá disfrutar.'">
      <div class="upgrade__offset-1"></div>
      <span class="upgrade__includes">Incluye</span>
      <div class="upgrade__offset-1"></div>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Baño javanés Mandi Susu tradicional: evocación de los baños que tomaban las princesas de las cortes y palacios de Java Central,
          en Indonesia, con antiguas recetas en las que se mezclaba la leche y las especias.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Baño floral balinés: con aceite de almendra dulce y aromas de jazmín.
        </li>
        <li class="upgrade__feature-item">
          Baño oceánico: con sal marina y gajos de mandarina o lima.
        </li>
        <li class="upgrade__feature-item">
          Baño de pies floral: baño aromático de pies, con pétalos y aromas.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Baño de vapor herbal: baño de vapor con hierbas del sudeste asiático.
        </li>
        <li class="upgrade__feature-item">
          Rain shower.
        </li>
      </ul>
      <div class="upgrade__offset-2"></div>
      <div class="upgrade__offset-1"></div>
      <small class="upgrade__note">Valores no acumulables a otras promociones similares</small>
    </app-upgrade>
  </app-extra>
  <app-extra class="extra" [title]="'Servicios de habitación'">
    <app-upgrade class="upgrade" [imageClass]="'upgrade__image--room-service'" [title]="'Desayuno deluxe'" [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, mi eget efficitur tempor, mi ex tristique libero, ac dictum sem turpis in neque. Pellentesque nibh magna, mattis ultrices nulla at, blandit porttitor magna. Integer venenatis dolor at nunc finibus, ac tristique nunc pellentesque. Vivamus tempus risus eu ex pellentesque pulvinar. Donec dapibus lacinia lectus eu commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent lectus nisl, congue a ex vel, egestas commodo elit.'">
      <div class="upgrade__offset-1"></div>
      <span class="upgrade__includes">Incluye</span>
      <div class="upgrade__offset-1"></div>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, mi eget efficitur tempor, mi ex tristique libero, ac
          dictum sem turpis in neque.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Pellentesque nibh magna, mattis ultrices nulla at, blandit porttitor magna.
        </li>
        <li class="upgrade__feature-item">
          Mattis ultrices nulla at, blandit porttitor magna, pellentesque nibh magna.
        </li>
        <li class="upgrade__feature-item">
          Blandit porttitor magna, pellentesque nibh magna, mattis ultrices nulla at.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="upgrade__feature-item">
          Ut egestas, mi eget efficitur tempor.
        </li>
      </ul>
      <div class="upgrade__offset-2"></div>
      <div class="upgrade__offset-1"></div>
      <small class="upgrade__note">Valores no acumulables a otras promociones similares</small>
    </app-upgrade>
    <app-upgrade class="upgrade" [imageClass]="'upgrade__image--drink'" [title]="'Cocktails'" [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, mi eget efficitur tempor, mi ex tristique libero, ac dictum sem turpis in neque. Pellentesque nibh magna, mattis ultrices nulla at, blandit porttitor magna.'">
      <div class="upgrade__offset-1"></div>
      <span class="upgrade__includes">Incluye</span>
      <div class="upgrade__offset-1"></div>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas, mi eget efficitur tempor, mi ex tristique libero, ac
          dictum sem turpis in neque.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Pellentesque nibh magna, mattis ultrices nulla at, blandit porttitor magna.
        </li>
        <li class="upgrade__feature-item">
          Mattis ultrices nulla at, blandit porttitor magna, pellentesque nibh magna.
        </li>
        <li class="upgrade__feature-item">
          Blandit porttitor magna, pellentesque nibh magna, mattis ultrices nulla at.
        </li>
      </ul>
      <ul class="upgrade__feature-list">
        <li class="upgrade__feature-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li class="upgrade__feature-item">
          Ut egestas, mi eget efficitur tempor.
        </li>
      </ul>
      <div class="upgrade__offset-2"></div>
      <div class="upgrade__offset-1"></div>
      <small class="upgrade__note">Valores no acumulables a otras promociones similares</small>
    </app-upgrade>
  </app-extra>
</section>
